.login-box {
  background-color: #D8CBD0;
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  font-size: 24px;
  color: #333;
}

.sample-profile-btn {
  text-decoration: none;
  background-color: white;
}

.sample-profile-btn a {
  color: black;
}

.login-box .form-control {
  border: 1px solid #7A297B;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.login-box .login-button {
  background-color: #7A297B;
  border: none;
  font-size: 24px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box .login-button:hover {
  background-color: #5e205d;
}

.login-box .register-link {
  color: #000;
  text-decoration: none;
}

.login-box .register-link:hover {
  text-decoration: underline;
}